<md-content>
    <!-- woker details -->
    <div layout="column" flex-lg="100" flex-gt-lg="100" ng-repeat="(addr,miner) in addrStats">
        <md-card flex>
            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <md-icon class="material-icons" style="color: rgb(255, 160, 0);">memory</md-icon>
                    <label class="md-title truncate" style="width: 90%!important; padding-left: 5px; font-size: 16px; font-weight: bolder">{{ addr }}</label>
                    <span flex></span>
                    <span>
                        <md-button class="md-fab md-mini" ng-click="deleteAddress(addr, $event)">
                            <md-icon md-font-set="material-icons">clear</md-icon>
                            <md-tooltip>Remove</md-tooltip>
                        </md-button>
                    </span>
                </div>
            </md-toolbar>

            <md-card-content>
                <div layout-xs="column" layout-sm="column" layout="row" flex>
                    <div layout-xs="row" layout-sm="row" layout="column" flex>
                        <md-list flex>
                            <md-list-item>
                                <p style="font-weight: bold">Hash Rate (24h Avg)</p>
                                <p class="text-right valid">{{miner.hash | toHashRate}} ({{minerStats[addr].dataset['global'].avghstfhour | toHashRate}})</p>
                            </md-list-item>
                            <md-list-item>
                                <p style="font-weight: bold">Total Hashes</p>
                                <p class="text-right valid">{{miner.totalHashes | number}}</p>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div layout-xs="row" layout-sm="row" layout="column" flex>
                        <md-list flex>
                            <md-list-item>
                                <p style="font-weight: bold">Total Due</p>
                                <p class="text-right invalid">{{miner.amtDue | toXMR | number:10}} XMR</p>
                            </md-list-item>
                            <md-list-item>
                                <p style="font-weight: bold">Total Paid</p>
                                <p class="text-right valid">{{miner.amtPaid | toXMR | number:10}} XMR</p>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div layout-xs="row" layout-sm="row" layout="column" flex>
                        <md-list flex>
                            <md-list-item>
                                <p style="font-weight: bold">Valid Shares</p>
                                <p class="valid text-right">{{miner.validShares | number}}</p>
                            </md-list-item>
                            <md-list-item>
                                <p style="font-weight: bold">Invalid Shares</p>
                                <p class="text-right invalid">{{miner.invalidShares | number}}</p>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div layout-xs="row" layout-sm="row" layout="column" flex>
                        <md-list flex>
                            <md-list-item>
                                <p style="font-weight: bold">Last hash</p>
                                <p class="valid text-right">
                                    <span am-time-ago="miner.lastHash * 1000">Never</span>
                                </p>
                            </md-list-item>
                            <md-list-item>
                                <p style="font-weight: bold">Payment</p>
                                <p class="text-right invalid"></p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </md-card-content>

            <md-card-content layout="column">
                <div class="chartcontainer" ng-if="minerStats[addr].dataset !== {}" flex>
                    <linechart data="minerStats[addr].dataset" options="minerStats[addr].options"></linechart>
                </div>
            </md-card-content>
            <md-card-content>
                <div flex>
                    <md-table-container>
                        <table md-table md-row-select ng-model="minerStats[addr].table_selected" md-progress="minerStats[addr].promise" data-md-row-select="minerStats[addr].table_options.rowSelection"
                            multiple="{{minerStats[addr].table_options.multiSelect}}">
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-numeric>
                                        <h2 class="md-subhead">No</h2>
                                    </th>
                                    <th md-column md-numeric>
                                        <h2 class="md-subhead">Worker</h2>
                                    </th>
                                    <th md-column md-numeric>
                                        <h2 class="md-subhead">Hash Rate</h2>
                                    </th>
                                    <th md-column md-numeric>
                                        <h2 class="md-subhead">1 Hour</h2>
                                    </th>
                                    <th md-column md-numeric>
                                        <h2 class="md-subhead">24 Hours</h2>
                                    </th>
                                    <th md-column md-numeric>
                                        <h2 class="md-subhead">Total Hashes</h2>
                                    </th>
                                    <th md-column md-numeric>
                                        <h2 class="md-subhead">Last Hash</h2>
                                    </th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="(index, id) in addrStats[addr].ids" md-select="id" data-md-on-select="updateCharts" md-on-deselect="updateCharts">
                                    <td md-cell>
                                        <p class="md-body-2">{{$index + 1}}</p>
                                    </td>
                                    <td md-cell>
                                        <p class="md-body-2">{{id}}</p>
                                    </td>
                                    <td md-cell>
                                        <p class="md-body-2">{{minerStats[addr].dataset[id][0].hs | toHashRate}}</p>
                                    </td>
                                    <td md-cell>
                                        <p class="md-body-2">{{minerStats[addr].dataset[id].avghshour | toHashRate}}</p>
                                    </td>
                                    <td md-cell>
                                        <p class="md-body-2">{{minerStats[addr].dataset[id].avghstfhour | toHashRate}}</p>
                                    </td>
                                    <td md-cell>
                                        <p class="md-body-2">{{addrStats[addr].workerStats[id].totalHash | number}}</p>
                                    </td>
                                    <td md-cell>
                                        <span class="md-body-2" am-time-ago="minerStats[addr].dataset[id][0].ts"></span>
                                        <md-tooltip>
                                            {{minerStats[addr].dataset[id][0].ts | date: 'HH:mm:ss dd/MM/yy'}}
                                        </md-tooltip>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                </div>
            </md-card-content>
            </md-card-content>

            <md-card-actions layout="row" layout-align="end center" flex>                                
                <md-button class="md-raised md-primary" ng-click="viewPayments($event, miner, addr)">View Payments</md-button>
                <span flex></span>
            </md-card-actions>
        </md-card>
    </div>
    <!-- end woker details -->

    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Workers {{ workersOnline }}</span>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-table-container>
        <md-table-pagination md-page-select md-limit="options.limit" md-limit-options="[10, 20, 30, 50, 100]" md-page="options.page"
            md-total="{{ pool_workers.length }}" md-on-paginate="loadWorkers"></md-table-pagination>
        <table md-table md-row-select ng-model="selected" md-progress="promise">
            <thead md-head md-order="workersOrder">
                <tr md-row>
                    <th md-column md-numeric md-order-by="hashRate">
                        <span>Hashrate</span>
                    </th>
                    <th md-column>
                        <span>Address</span>
                    </th>
                    <th md-column md-numeric md-order-by="paid">
                        <span>Paid</span>
                    </th>
                    <th md-column md-numeric md-order-by="due">
                        <span>Due</span>
                    </th>
                    <th md-column md-numeric md-order-by="totalHashes">
                        <span>Total #s</span>
                    </th>
                    <th md-column md-numeric md-order-by="goodShares">
                        <span>Good #s</span>
                    </th>
                    <th md-column md-numeric md-order-by="badShares">
                        <span>Bad #s</span>
                    </th>
                    <th md-column md-numeric md-order-by="workers.length">
                        <span>Workers</span>
                    </th>
                    <th md-column md-order-by="lastHash">
                        <span>Last Hash</span>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-on-select="selectWorker" md-on-deselect="deselectWorker" md-row md-auto-select md-select="worker" md-select-id="address"
                    ng-repeat="worker in pool_workers | orderBy: workersOrder : true | limitTo: options.limit : (options.page-1) * options.limit">
                    <td md-cell>{{worker.hashRate | toHashRate}}</td>
                    <td md-cell>
                        {{worker.address | cut:true:7:'...' }}
                        <md-tooltip>
                            {{worker.address}} <br/>
                            <ul>
                                <li ng-repeat="o in worker.workers | filter: greaterThan('hashRate', 0)">
                                    {{ o.worker }}
                                </li>
                            </ul>                            
                        </md-tooltip>
                    </td>
                    <td md-cell>{{worker.paid | toXMR}} XMR</td>
                    <td md-cell>{{worker.due | toXMR }} XMR</td>
                    <td md-cell>{{worker.totalHashes | number }}</td>
                    <td md-cell>{{worker.goodShares | number }}</td>
                    <td md-cell>{{worker.badShares | number }}</td>
                    <td md-cell>{{worker.workers.length}}</td>
                    <td md-cell>
                        <h3 class="md-body-2" am-time-ago="worker.lastHash"></h3>
                        <md-tooltip>
                            {{worker.lastHash | date:'hh:mm:ss dd/MM/yy'}}
                        </md-tooltip>
                    </td>
                </tr>
            </tbody>
        </table>
        <md-table-pagination md-page-select md-limit="options.limit" md-limit-options="[10, 20, 30, 50, 100]" md-page="options.page"
            md-total="{{ pool_workers.length }}" md-on-paginate="loadWorkers"></md-table-pagination>
    </md-table-container>
</md-content>